.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #3cad25;
    border: 1px solid #3cad25;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 15px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #269110;
    border-color: #269110;
  }