/* .link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.link:hover {
    color:black;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: calc(100% + .25rem);
    background-color: grey;
    padding: 0.75rem;
    border-radius: .5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
} */