.header-container {
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    background-color: rgb(204, 204, 204);
}

/* .banner {
    display: flex;
    justify-content: flex-end;
    position: fixed; 
} */

#logo {  
    align-self: center;
    padding-left: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: rgb(76, 175, 76);
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar-item {
    cursor: pointer;
    font-weight: 550;
    margin: 1rem;
}

/* Make the header component a 
separate fixed layer, have a grid inside 
to layout the logo and list within */