.banner {
    display: flex;
    justify-content: flex-end;
    /* position: fixed; */
}

#logo {
    position: absolute;  
    left: 3rem;
    font-size: 2rem;
    cursor: pointer;
    color: rgb(76, 175, 76);
}

.navbar-item {
    cursor: pointer;
    font-weight: 550;
    margin-right: 1.5rem;
    margin-left: 1rem;
}

/* Make the header component a 
separate fixed layer, have a grid inside 
to layout the logo and list within */