@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts */
@font-face {
  font-family: 'CabinSketch';
  src: local('CabinSketch'), url(./fonts/Cabin_Sketch/CabinSketch-Regular.ttf) format('truetype');
}

/* Custom tailwind classes */
@layer utilities {
  .border-1 {
    border-width: 1px;
  }

  .rounded-4xl {
    border-radius: 30px;
  }

  .border-l-3 {
    border-left-width: 3px;
  }

  .h-1p {
    height: 1px;
  }
}

@layer components {
   /* ~Cart.jsx styles*/
  .cart-items {
     @apply list-none m-0 p-0 max-h-80 overflow-y-scroll
  }

  .cart-total {
     @apply flex justify-between items-center font-bold text-2xl my-4 mx-0
  }

  .cart-button-wrapper {
     @apply text-right 
  }

  .cart-buttons {
    @apply text-inherit cursor-pointer bg-transparent border-2 border-gray-700 py-2 px-8 rounded-3xl ml-4 
    hover:border-gray-500 hover:bg-green-500 hover:text-white
  } 

 .cart-close-button {
    @apply text-green-700 font-medium
  }

  .cart-order-button {
    @apply bg-green-600 text-white font-medium
  }  
  /* End of Cart.jsx styles */


  /* ~CartItem.jsx styles */
  .cart-item {
    @apply flex justify-between items-center border-b-2 border-green-500 py-4 px-0 my-4 mx-0
  }

  .cart-item-name {
    @apply mx-0 mb-2 mt-0 text-gray-700 font-medium text-lg
  }

  .cart-item-summary {
    @apply w-40 flex justify-between items-center
  }

  .cart-item-price {
    @apply font-bold text-gray-800
  }

  .cart-item-amount {
    @apply font-bold border-2 border-gray-300 py-1 px-3 rounded-md text-gray-700
  }

  .cart-item-actions {
    @apply flex flex-col md:flex-row
  }

  .cart-item-buttons {
    @apply text-inherit font-bold text-xl text-green-600 border-2 border-green-600 w-12 
           text-center rounded-md bg-transparent 
           cursor-pointer ml-4 m-1 flex-wrap
           hover:bg-green-500 hover:text-white active:bg-green-600 active:text-white
           /* font: inherit */
  }
  /* End of CartItem.jsx styles */
  
  /* Navbar styles */
  .navbar-items {
    @apply font-semibold m-4 text-base
  }

  .navbar-profile-dropdown-li {
    @apply w-32 h-10 flex justify-center items-center hover:bg-green-50
  }


  /* ~HeaderCart.jsx styles */
  .cart-button {
    @apply cursor-pointer text-inherit border-none font-bold bg-green-500 text-white py-2 px-3 flex items-center rounded-4xl
  }
  /* End of HeaderCart.jsx styles */



  /* ~DropdownMenu.jsx styles */
  .mobile-dropdown-items{
    @apply block left-0 text-lg p-3 mt-3 hover:border-l-3 hover:border-green-600 hover:bg-green-100 hover:text-green-500 
    focus:border-l-3 focus:border-green-600 focus:bg-green-100 focus:text-green-500
  }

  .mobile-dropdown-header {
    @apply font-medium mx-4 my-2 relative text-green-500
  }

  /* End of DropdownMenu.jsx styles */



  /* ~Navbar styles */

  /* Any screen size larger than 'sm' (640px) will render these styles */
  .navbar-items{
    @apply sm:font-semibold sm:m-4 sm:text-lg
  }

  /* Any screen size smaller than 'sm' (640px) will render these styles */
  .navbar-items-sm {
    @apply block left-0 text-lg p-3
  }
  
  .badge_option2 {
    @apply bg-gray-200 pt-1 pb-1 pr-2 pl-2 rounded-full font-semibold text-center align-middle
  }
     
}


}